#header{
    height: fit-content;
    background-color:gray;
    color:aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding:10px;
    flex-wrap: wrap;
}
.logoName{
    display: flex;
    align-items:center
}
.logoName img{
    width: 50px;
    height: 50px;
    object-fit: contain;
    border:0.1em solid gray;
}

.lista {
    height: max-content;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style-type:none;
    display: flex;
    justify-content: space-between;
    align-content: end;
    align-items: center;
    width:fit-content;
    margin: auto;
    padding: 10px;
    flex-wrap: wrap;
  
}

.lista li{
    padding: 10px;
    
}